/* @import url(/css/variables.css); */
@import url(general.css);
@import url(reset.css);

.headerBack{
    background-color: #FFFFFF;
}

.navigationMenu{
    display: flex;
    height: 62px;
}

.mainLogo img{
    height: 37px;
    width: 276px;
    mix-blend-mode: multiply;
}

.mainLogo{
    width: 30%;
    margin: 16px 0 0 15px;
}

.menu{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.menuList{
    display: flex;
}

.menuItem{
    /* margin: 5px 0 0 73px; */
    padding: 5px;
}

.menuSecondary{
    margin: 3px 6px 0 67px;
}


.helloContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 332px 0 0 48px;
}

.pageHello .mainTitle{
    text-align: center;
  
}

.pageHello p{
    width: 954px; 
    text-align: center;
    margin: 9px 37px 0 0px;
}

.pageHello .redButton{
    margin: 43px 36px 0 0px;
}

.pageHello img{
    display: block;
    align-items: top;
    margin: 180px 36px 0 0px;
}

.pageHello{
    background: url(/img/background.svg);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 883px;
    margin-bottom: 77px;
}

.page2{
    display: flex;
    margin-bottom: 190px;
}

.page2Left{
    width: 45%;
    display: inline-block;
}

.sideTitle .secondaryTitle{
    margin-bottom: 5px;
}

.page2Left .sideTitle{
    display: block;
    width: 150px;
    margin: 8px 0 0 16px;
}

.page2Left h2{
    margin: 32px 0 0 16px;
}

.page2Left p{
    width: 90%;
    margin: 11px 0 0 17px;
}

.page2Left .redButton{
    margin: 27px 0 0 14px;
   
}

.page2Right{
    display: flex;
    width: 55%;
}
.page2Right img{
   margin: 65px 62px;
}

.page3{
    display: flex;
    margin-bottom: 153px;
}

.page3Left{
    display: flex;
    width: 55%;
}

.page3Left img{
    margin: 57px -196px; 
}

.page3Right{
    width: 45%;
}

.page3Right .sideTitle{
    width: 40%;
    text-align: right;
    margin: -2px 0 0 403px;
  
}

.page3Right .arrowTarget{
    display: flex;
    margin-bottom: 50px;
}

.page3Right .arrowTarget img{
    margin: 23px 0 0 84px;
    display: block;
    width: 108px;
    height: 108px;
  
}

.page3Right .arrowTarget div{
    margin: 22px 0px -24px 48px;
    width: 436px;
    
}

.page3Right .arrowTarget .secondaryText{
    margin: 16px 0 0 0;

}

.page3Right .pathWay{
    display: flex;
}

.page3Right .pathWay img{
    margin: 51px 0 0 95px;
    display: block;
    width: 80px;
    height: 80px;
}

.page3Right .pathWay div{
    margin: 45px 0px -24px 66px;
    width: 436px;

}

.page3Right .pathWay .secondaryText{
    margin: 7px 0 0 0;
}

.page4 .sideTitle{
    display: block;
    width: 15%;
    margin: 0 0 0 11px;
}

.page4Content{
    display: flex;
}

.contentLeft{
    width: 35%;
}

.contentLeft img{

    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 55px 132px 42px 129px;
    margin: 52px 0px 5px 136px;
}

.contentLeft .otherTitle{
    margin: 0 0 0 134px;
}

.contentLeft .lowerText{
    width: 370px;
    margin: 9px 0 0 136px;
    word-wrap: normal;
}

.contentLeft .linkRM{
    display: block;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 15px 0 0 135px;
}

.contentCenter{
    width: 30%;
}

.contentCenter img{

    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 55px 132px 53px 139px;
    margin: 52px 0px 5px 128px;
}

.contentCenter .otherTitle{
    margin: 0 0 0 130px;
}

.contentCenter .secondaryText{
    width: 370px;
    margin: 12px 0 0 130px;
}

.contentCenter .linkRM{
    display: block;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 19px 0 0 130px;
}

.contentCenter{
    width: 30%;
    margin: 97px 0 0 -82px;

}

.contentRight img{
    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 47px 135px 60px 137px;
    margin: 52px 0px 5px 133px;
}

.contentRight .otherTitle{
    margin: 0 0 0 134px;
}

.contentRight .secondaryText{
    width: 333px;
    margin: 0px 0 0 134px;
    word-wrap: break-word;
}

.contentRight .linkRM{
    display: block;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 19px 0 0 135px;
}
/* Стилі і розміщення форми, винесу це окремо!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Задав фон і розмір форми */
.formStyle{
    background: #FFFFFF;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    background-image: url(/img/Background2.svg);
    background-size: auto;
    background-repeat: no-repeat;
    height: 669px;
    width: 84%;
    background-position: right;
    margin: 247px 0 133px 126px;
    display: flex;
}

.page5Left{
    width: 65%;
}

.page5Left .mainTitle{
    display: inline-block;
    margin: 61px 0 0 38px;
}

.page5Left .textForm{
    margin: 9px 0 68px 39px;
}

#name{
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 15px;
    width: 656px;
    height: 40px;
    margin: 1px 38px 19px 41px;
    border: none;
    padding-left: 29px;
}

#name::placeholder{
    font-family: 'Open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

#email{
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 15px;
    width: 656px;
    height: 40px;
    margin: 6px 38px 14px 41px;
    border: none;
    padding-left: 29px;
}

#email::placeholder{
    font-family: 'Open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

#message{
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 15px;
    overflow: auto;
    resize: none;
    width: 656px;
    height: 141px;
    margin: 10px 38px 19px 41px;
    border: none;
    padding: 0px 0 0 29px;
}

#message::placeholder{
    font-family: 'Open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

form .labelText{
    margin: 0 0 0 45px;
    display: inline-block;
}

form .redButton{
    margin: 0 0 0 562px;
    text-align: center;
    border: none;
}

.page5Right{
    margin: 0 0 0 131px;
    width: 35%;
}

.page5Right .titleFormWhite{
    margin: 192px 0 30px 0px;
}

.page5Right .titleLowWhite{
    width: 85%;

}
.phoneNumber{
    display: flex;
    margin: 35px 0 0 8px;
}

.phoneNumber .numbersWhite{
    margin: 4px 0 0 15px;
}

.emailCompany{
    display: flex;
    margin: 26px 0 0 7px;
}

.emailCompany .lastFontForm{
    margin: 4px 0 19px 16px;
}

.emailCompany img{
    height: 14px;
    width: 14px;
}
.placeCompany{
    display: flex;
}

.placeCompany img{
    margin: 2px 0 0 8px;
    width: 14px;
    height: 14px;
}

.placeCompany .lastFontForm{
    margin: 0 0 0 14px;
}

.socialIcons{
    margin: 54px 0 0 16px;
}

.socialIcons img{
    margin: 0px 32px 0 0px;
}

footer .navigationMenu{
    display: flex;
    height: 62px;
}

footer .mainLogo img{
    height: 37px;
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
}

footer .mainLogo{
    max-width: 267px;
    border: 1px solid red;
}

footer .menu{
    display: flex;
    list-style: none;
    align-items: center;
    width: calc(100% - 267px);
    margin: 5px 4px 0 0px;
    justify-content: space-between;
    border: 1px solid red;
}

/* footer .menuItem{
    margin: 0 0 0 73px;   
} */

footer p{
    font-family: 'Open-sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px; 
    margin: 0 5px 0 0;
    
}

footer .footReserved{
    display: flex;
    margin: 7px 0 0 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

footer .footReserved::before{
    border-top: 1px solid #F0EDED;
    content: '';
    max-width: 1919px;
    position: absolute;
    top: 0;
    left: 0; 
}

footer{
    background-color: #FFFFFF;
}


/* Serhii */
.block{
    display: flex;
    border: 1px solid rgb(60, 191, 51);
    padding: 50px 0;
}

@media screen and (max-width: 600px) {
    .block{
        flex-direction: column;
    }
}

.content{
    width: 50%;
    border: 1px solid red;
    padding-right: 70px;
}

.img{
    width: 50%;
    border: 1px solid rgb(41, 59, 196);
}

.img img{
    display: flex;
    width: 100%;
}


/*Serhii*/
.wrap{
    display: flex;
    border: 1px solid rgb(41, 59, 196);
}
@media screen and (max-width: 900px) {
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card{
    padding-right: 30px;
    border: 1px solid rgb(41, 59, 196);
}
@media screen and (max-width: 900px) {
    .card{
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
}

.card:nth-child(3){
    padding-right: 0;
}
@media screen and (max-width: 900px) {
    .card:nth-child(2){
    padding-right: 0;
  }
    .card:nth-child(3){
    padding-right: 0;
  }
}
.image{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 50px 60px;
    background-color: var(--secondary-color);
}

.image img{
    display: block;
    width: 95px
}







