@import url(general.css);
@import url(reset.css);


.helloContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 332px 0 0 48px;
}

.pageHello .mainTitle{
    text-align: center;
  
}

.pageHello p{
    max-width: 954px;
    text-align: center;
    padding: 9px 37px 0 0px;
}

.pageHello .redButton{
    margin: 43px 36px 0 0px;
}

.pageHello .img{
    display: block;
    align-items: top;
    padding: 20vh 36px 0 0px;
}

.pageHello{
    background: url(/img/Section1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    height: 884px;
}
/* tablet 768 меню та pageHello */
@media screen and (max-width: 964px){

    .navigationMenu{
        height: 60px;
    }

    .pageHello{
        height: auto;
    }

    .helloContent .mainTitle{
        display: none;
    }
    .helloContent .whiteText{
        display: none;
    }

    .helloContent .redButton{
        display: none;
    }
    .helloContent img{
        display: none;
    }

    .menuMain{
        display: none;
    }

    .kolhoz{
        padding: 0 27px 95px 27px;
    }

    .kolhoz .mainText{
        padding: 5px 0 10px 0;
    }

}

.page2{
    display: flex;
    padding-bottom: 150px;
}

.page2Left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 59px 0 0 0;
}

.sideTitle .secondaryTitle{
    margin-bottom: 5px;
}

.page2Left .sideTitle{
    display: block;
    width: 165px;
    margin: 8px 0 0 16px;
    word-wrap: break-word;
}

.page2Left h2{
    width: 95%;
    margin: 32px 0 0 16px;
}

.page2Left p{
    width: 80%;
    margin: 11px 0 0 17px;
}

.page2Left .redButton{
    margin: 27px 0 0 14px;
   
}

.page2Right{
    /* display: flex; */
    width: 50%;
    padding-top: 50px;
}
.page2Right img{
    display: flex;
    width: 100%;
}

/* Таблет page2 */
@media screen and (max-width: 964px){
    .page2{
        flex-flow:column-reverse;
    }

    .page2Right{
        width: 100%;
        padding-top: 0;
    }

    .page2Left {
        padding-right: 0px;
        width: 100%;
    }

    .page2Left .content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 27px;
        text-align: right;
    }

    .page2 .sideTitle{
        padding-left: 0;
    }

    .page2{
        margin-bottom: 0px;
    }
}


.page3{
    display: flex;
    margin-bottom: 150px;
}

.page3Left{
    width: 50%;

}

.page3Left img{
    width: 100%;
}

.page3Right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding-left: 50px;
    
}

.page3Right .sideTitle{
    width: 25%;
    margin: 0 16px 30px 0;
    text-align: end;
}

.page3Right .secondaryTitle{
    display: flex;
    justify-content: flex-end;
}

.page3Right img{
    float: right;
    display: block;
}

.page3Content .mainTitle{
    padding: 0 0 11px 0;
}

/* page3 tablet */
@media screen and (max-width: 964px){
    .page3{
        flex-direction: column;
    }

    .page3Left{
        width: 100%;
        padding-bottom: 50px;
    }

    .page3Right{
        width: 100%;
    }

    .page3Right .sideTitle{
        width: 100%;
    }
    .arrowTarget img{
        margin: 0;
        padding: 10px 10px;
    }

    .page3Right .arrowTarget{
        margin: 0;
    }

    .pathWay img{
        margin: 0;
        padding: 10px 23px;
    }

    .page3{
        margin-bottom: 50px;
    }

}

.page4 .sideTitle{
    width: 15%;
    margin: 0 0 108px 13px;
}

.page4Content{
    display: flex;
}

.page4Content .card{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33%;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    background: #454654;
    margin-right: 33px;
}

.card:nth-child(2){
    background: rgba(255, 255, 255, 0.8);
}

.card:nth-child(2) .otherTitle{
    color: var(--secondary-color);
}

.card:nth-child(2) .secondaryText{
    color: var(--secondary-color);
}

.card .otherTitle{
    padding: 0 0 0 0;
    color: var(--white-text-color);
}
.card .secondaryText{
    color: var(--white-text-color);
    padding: 0 55px 83px 55px;
}
.card img{
    width: 104px;
    padding: 70px 0 0 0;
    z-index: 1;
}

.card .otherTitle{
    padding: 0 0 13px 5px;
    color: var(--white-text-color);
}

.page4Contact{
    text-align: center;
    padding: 356px 18px 40px 0;
}

.page4Contact .redButton{
    display: inline-flex;
    margin: 47px 0 0 10px;
}

@media screen and (max-width: 964px){
    .page4Content{
        justify-content: center;
        flex-direction: column;
        
    }

    .page4Content .card{
        width: 100%;
        margin-bottom: 15px;
    }

    .page4Contact{
        padding: 20px 0 20px 0;

    }

}