@import url(/css/variables.css);

h1{
    font-family: 400;
    color: var(--primary-color);
}

h2{
    font-weight: 700;
}

.text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var( --text-color);
}