@import url(general.css);
@import url(reset.css);



.helloContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.pageHello .mainTitle{
    text-align: center;
    margin: 0 0 0 18px;
  
}

.pageHello p{
    width: 954px; 
    text-align: center;
    margin: 0 0 0 23px;
}

.pageHello img{
    display: block;
    align-items: top;
    margin: 243px 38px 0 0px;
}

.pageHello{
    background: url(/img/Background3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 883px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

/* tablet 768 меню та pageHello */
@media screen and (max-width: 964px){

    .navigationMenu{
        height: 60px;
    }

    .pageHello{
        height: 582px;
    }

    .helloContent .mainTitle{
        display: none;
    }
    .helloContent .whiteText{
        display: none;
    }

    .helloContent .redButton{
        display: none;
    }
    .helloContent img{
        display: none;
    }

    .menuMain{
        display: none;
    }

    .kolhoz{
        padding: 0 27px 95px 27px;
    }

    .kolhoz .mainText{
        padding: 5px 0 10px 0;
    }

}


.page2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.page2Content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 45px 0 0 36px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 1;
}

.page2Content img{
    width: 95px;
    padding-bottom: 49px;
    max-height: max-content;
    position: relative;
    z-index: 1;
}

.page2Content .whiteText{
    padding-top: 26px;
    width: 80%;
    text-align: left;
}
.page2Photo{
    position: relative;
    width: 50%;
    
}

.page2::after{
    position: absolute;
    content: '';
    background: #454654;
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 0;
    right: 0;
   
}

.page2Photo img{
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    margin: 0 0 0 0;
}